<div
  class="container d-flex flex-column justify-content-center align-items-center"
>
  <div class="d-flex flex-column">
    <label for="name">Nome:</label>
    <input type="text" name="name" id="" />
    <label for="email">Email:</label>
    <input type="text" name="email" id="" />
    <label for="password">Senha:</label>
    <input type="password" name="password" id="" />
    <label for="repeat-password">Repetir Senha:</label>
    <input type="password" name="repeat-password" id="" />
    <label for="cpf">Cpf:</label>
    <input type="text" name="cpf" id="" />
    <button class="button">Cadastrar</button>
    <a href="/"><button class="button">Cancelar</button></a>
  </div>
</div>
