<div
  class="container d-flex flex-column justify-content-center align-items-center"
>
  <div class="d-flex flex-column">
    <a href="adm/totem"><button class="button"><span class="button-text">Totem</span></button></a>
    <a href="adm/products-management"><button class="button"><span class="button-text">Gerenciar Produtos</span></button></a>
    <a href="adm/requests"><button class="button"><span class="button-text">Pedidos</span></button></a>
    <a href="adm/dashboard"><button class="button"><span class="button-text">Relatórios</span></button></a>
  </div>
</div>