<div
  class="container d-flex flex-column justify-content-center align-items-center"
>
  <div>
    <a href="/adm">
      <button type="button" class="button">Voltar</button>
    </a>
    <button
      type="button"
      class="button"
      data-bs-toggle="modal"
      data-bs-target="#newProductModal"
    >
      Cadastrar Produto
    </button>
  </div>
  <div class="card" style="width: 18rem">
    <img src="../../assets/pastel-carne.webp" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Pastel de ...</h5>
      <p class="card-text">Pastel de ...</p>
      <h5 class="card-title">R$ 12,90</h5>
      <button class="button">Deletar</button>
      <button
        type="button"
        class="button"
        data-bs-toggle="modal"
        data-bs-target="#offersModal"
      >
        Promoção
      </button>
    </div>
  </div>
</div>

<!-- Modal new-poduct -->
<div
  class="modal fade"
  id="newProductModal"
  tabindex="-1"
  aria-labelledby="newProductModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="d-flex flex-column">
          <label for="name">Nome:</label>
          <input type="text" name="name" id="" [(ngModel)]="newProduct.name"/>
          <label for="description">Descrição:</label>
          <input type="text" name="description" id="" [(ngModel)]="newProduct.description"/>
          <label for="price">Preço:</label>
          <input type="text" name="price" id="" [(ngModel)]="newProduct.price"/>
          <label for="type">Tipo:</label>
          <input type="text" name="type" id="" [(ngModel)]="newProduct.type"/>
          <label for="picture">Foto:</label>
          <!-- <input type="file" name="picture" id="" [(ngModel)]="newProduct.picture"/> -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="button" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="button" (click)="create()" data-bs-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal offers -->
<div
  class="modal fade"
  id="offersModal"
  tabindex="-1"
  aria-labelledby="offersModal"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="d-flex flex-column">
          <label for="price">Preço:</label>
          <input type="text" name="price" id="" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="button" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="button">Save changes</button>
      </div>
    </div>
  </div>
</div>
